<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials2 :: head('Edit a Post')"></head>

<body>
<main role="main" class="container">
    <div th:replace="partials2 :: header"></div>
    <div th:replace="partials2 :: navbar"></div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Post</h5>
            <form class="card-text" th:action="'/posts/' + ${post.id} + '/edit'" method="post" th:object="${post}">
                <label>Title:</label>
                <input th:field="*{title}"/>
                <br />
                <label>Description:</label>
                <textarea th:field="*{body}"></textarea>
                <br />
                <button type="submit">Edit Post</button>
            </form>
        </div>
    </div>

    <div th:replace="partials2 :: footer"></div>
</main>
<div th:replace="partials2 :: scripts"></div>
</body>
</html>