<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials2 :: head('Sign up!')"></head>

    <body>
    <main role="main" class="container">
        <div th:replace="partials2 :: header"></div>
        <div th:replace="partials2 :: navbar"></div>

        <h1>Create an account</h1>
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <label for="username">Username</label>
            <input id="username" th:field="*{username}" />

            <label for="email">Email</label>
            <input id="email" th:field="*{email}" />

            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" />

            <input value="Sign me up!" type="submit" />
        </form>

        <div th:replace="partials2 :: footer"></div>
    </main>
        <div th:replace="partials2 :: scripts"></div>
    </body>
</html>

<!-- test -->