<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head(title)">
        <meta charset="UTF-8"/>
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    </head>

    <body>
        <div th:fragment="header">
            <header>
                Header
            </header>
        </div>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/posts">Home <span class="sr-only">(current)</span></a>
                        <!--<a class="nav-item nav-link" href="#">Features</a>-->
                        <!--<a class="nav-item nav-link" href="#">Pricing</a>-->
                        <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
                    </div>
                </div>
            </nav>

        <div >
            <footer class="footer bg-dark mt-auto fixed-bottom">
                <div class="container">
                    <span class="text-muted">This is a sticky footer from Bootstrap.</span>
                </div>
            </footer>
        </div>

        <div th:fragment="scripts">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        </div>
    </body>
</html>