<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Roll Dice')"></head>

    <body>
        <nav th:replace="partials :: header" />
        <nav th:replace="partials :: navbar" />

        <h1>Welcome to the Dice Roll Guess Game!</h1>
        <h2>Select a link below to guess the roll.</h2>
            <a href="roll-dice/1">Guess a 1</a><br />
            <a href="roll-dice/2">Guess a 2</a><br />
            <a href="roll-dice/3">Guess a 3</a><br />
            <a href="roll-dice/4">Guess a 4</a><br />
            <a href="roll-dice/5">Guess a 5</a><br />
            <a href="roll-dice/6">Guess a 6</a>

        <script th:replace="partials :: footer" />
        <script th:replace="partials :: scripts" />

    </body>
</html>